<h2 align="center">
  О разработчиках
</h2>
<p class="lead">

  <%= t('.hello') %>
  <%= I18n.locale %>
  Рады приветствовать вас на нашем сервисе. На данной странице вы видите информацию о разработчиках данного сервиса. При появлении каких-то вопросов и/или предложений, пожалуйста, свяжитесь с нами. Мы всегда открыты для общения.
  >
</p>

<hr class="sr-only">

<p>pol <time>12:20</time></p>

<p class="lead">
  <% @developers.each do |d| %>
    <%= d[:name] %>, 
    <%= d[:email] %> <br />
  <% end %>
</p>
