.user-badge {
  margin-top: 20px;
  image {
    width: 35px;
    height: 35px;
  }

  .nav__user_right {
    margin-left: 33px;
    padding-top: 42px;
    margin-top: 36px;
    color: "#e90301";
  }
}