body {
  height: 100%;
}

main {
  @extend .container-fluid;
  padding-bottom: 150px;
  p {
    text-align: justify;
  }
}

header {
  .navbar-nav {
    .navbar__img {
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
  }
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

p.normal-state {
  margin-top: 50px;
  font-size: 22px;
  text-align: center;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}