.first-entries {
  // font-size: 28px;
  // vertical-align: baseline;
  margin: 0 0 0 18px;
}

.last-entries {
  margin-left: 10px;
  width: 20px;
}

.next-entries {
  margin-left: 10px;
  width: 20px;
}

.prev-entries {
  margin-right: 10px;
  width: 20px;
}

.prev {
  margin-right: 4px;
}