@import "bootstrap-sprockets";
@import "bootstrap";


body {
  @extend .body;
  margin: 20px 30px 60px 80px;
}

main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; 
  p {
    text-align: justify;
  }
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

p.normal-state {
  margin-top: 50px;
  font-size: 22px;
  text-align: center;
}
