<footer class="footer">
  <p class="footer__trademark">&copy;
    <% start_year = 2014 %>
    <% if start_year == Time.now.year %>
        <%= start_year %>
    <% else %>
        <%= "#{start_year}-#{Time.now.year}" %>
    <% end %>
    "Twitter service"
  </p>
</footer>